<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>
  <script>
    vkBridge.send('VKWebAppInit', {})
    .then(() => {
        vkBridge.send('VKWebAppGetUserInfo', {})
            .then(data => {
                console.log(data)
                fetch('/client', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: `user_id=${data.id}&messanger_name=${data.first_name}&messanger=vk`
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Ответ от сервера:', data);

                    vkBridge.send('VKWebAppGetClientSettings')
                    .then(data => {
                        console.log("VKWebAppGetClientSettings data:", data);
                        const isDarkTheme = data.appearance === "dark";

                        console.log("Используется темная тема:", isDarkTheme);
                        // Дальнейшая обработка темы
                    })
                    .catch(error => console.error("VKWebAppGetClientSettings error:", error));

                    window.location.href = `/kviz/?client=${data.client}&messanger=vk`;
                })
                .catch(error => console.error("Ошибка отправки данных на сервер:", error));
            })
            .catch(error => console.error("VKWebAppGetUserInfo error:", error));
    });
  </script>
</body>
</html>