{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Заголовок</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="{% static 'main/css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
	<script src="{% static 'main/libs/jquery/jquery-3.6.0.min.js' %}"></script>
</head>
<body class="theme-dark">
	<div class="scale-wrapper">
		<div class="layout">

			<div class="wrapper">

				<header class="header">
					<div class="header__wrapper">
						<a href="/" class="logo">
							<img src="{% static 'main/img/logo.jpg' %}" alt="alt">
							<img src="{% static 'main/img/logo2.jpg' %}" alt="alt">
						</a>
						<div class="header__title">
							<div class="marquee"><span>Требуется: Сварщики, Монтажники </span><span>Требуется: Сварщики, Монтажники </span><span>Требуется: Сварщики, Монтажники </span><span>Требуется: Сварщики, Монтажники </span><span>Требуется: Сварщики, Монтажники </span><span>Требуется: Сварщики, Монтажники </span></div>
						</div>
					</div>
				</header>
		
				<section class="billbord">
					<div class="billbord__image">
						<img src="{% static 'main/img/billbord.jpg' %}" alt="alt">
					</div>
					<div class="billbord__content">
						<h1 class="billbord__title">Санкт-Петербург</h1>
						<h2 class="billbord__descr">Работа, халтура, объекты</h2>
						<div class="billbord__buttons">
							<a href="{{ settings.tgbot_link }}" class="btn-main btn-main_tg">Перейти в Telegram <img src='{% static "main/img/btn_tg.jpg" %}' alt="alt"></a>
							<a href="{{ settings.vkbot_link }}" class="btn-main btn-main_vk">Перейти в ВКонтакте <img src='{% static "main/img/btn_vk.jpg" %}' alt="alt"></a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>

	<footer class="footer">
		<a href="{{ settings.privacy_link }}" class="link-page">Политика конфиденциальности</a>
	</footer>

	<script src="{% static 'main/libs/jquery/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'main/libs/mask/jquery.maskedinput.js' %}"></script>
	<script src="{% static 'main/js/sendAnswer.js' %}"></script>
	<script src="{% static 'main/js/common.js' %}"></script>
</body>
</html>