{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Работа Халтура в СПб</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="{% static 'main/css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
	<script src="{% static 'main/libs/jquery/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'main/js/common.js' %}"></script>
	<div class="scale-wrapper" style="background-color: white;">
		<div class="layout">
			<div class="wrapper">
				<header class="header"> 
					<div class="header__wrapper"> 
						<a href="/" class="logo">
							<img src="{% static 'main/img/logo.jpg' %}">
							<img src="{% static 'main/img/logo2.jpg' %}">
						</a>

						<div class="theme-change">
							<div id="sun" style="display: none;">
								<?xml version="1.0" standalone="no"?>
								<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
								"http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
								<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
								width="540.000000pt" height="540.000000pt" viewBox="0 0 540.000000 540.000000"
								preserveAspectRatio="xMidYMid meet" style="background: white; width: 20px; height: 20px;">

								<g transform="translate(0.000000,540.000000) scale(0.100000,-0.100000)"
								fill="#000000" stroke="none">
								<path d="M0 2700 l0 -2700 2700 0 2700 0 0 2700 0 2700 -2700 0 -2700 0 0
								-2700z m2775 2500 c17 -10 39 -34 50 -52 19 -31 20 -51 20 -313 0 -262 -1
								-282 -20 -313 -29 -48 -79 -76 -137 -76 -54 0 -89 21 -125 74 -23 32 -23 39
								-23 312 0 220 3 285 14 306 44 84 140 111 221 62z m-1702 -684 c18 -8 118
								-101 224 -207 161 -164 192 -200 198 -231 20 -105 -45 -188 -145 -188 -23 0
								-51 5 -63 11 -31 16 -395 379 -413 411 -34 64 -2 163 64 197 44 24 91 26 135
								7z m3367 -5 c70 -36 99 -120 69 -198 -13 -36 -363 -388 -405 -408 -76 -36
								-164 -8 -201 65 -28 54 -29 89 -4 138 23 44 363 384 406 406 40 21 93 20 135
								-3z m-1509 -557 c443 -84 815 -405 967 -834 53 -150 67 -238 67 -420 0 -177
								-13 -266 -61 -408 -126 -377 -429 -680 -808 -807 -119 -40 -212 -56 -352 -62
								-223 -10 -412 30 -609 126 -142 70 -231 133 -338 239 -223 220 -344 472 -378
								789 -54 507 224 1018 681 1252 265 136 550 179 831 125z m-2054 -1130 c91 -68
								86 -202 -9 -259 -31 -19 -51 -20 -313 -20 -264 0 -282 1 -315 20 -47 28 -74
								77 -74 137 0 54 21 89 75 126 33 23 35 23 320 20 274 -3 289 -4 316 -24z
								m4264 4 c51 -29 84 -93 76 -150 -7 -49 -32 -86 -78 -113 -32 -19 -52 -20 -316
								-20 -270 0 -283 1 -310 21 -53 39 -75 83 -71 140 5 60 33 104 80 127 28 14 75
								17 307 17 263 0 275 -1 312 -22z m-3712 -1346 c63 -46 86 -120 60 -189 -11
								-30 -319 -347 -383 -394 -89 -66 -222 -18 -242 87 -15 80 -5 96 194 298 114
								114 203 196 227 208 48 22 106 19 144 -10z m2651 18 c46 -12 425 -390 436
								-433 14 -57 -1 -117 -39 -155 -30 -30 -44 -36 -90 -40 -36 -3 -63 1 -83 11
								-16 9 -115 102 -221 209 -164 165 -192 199 -198 231 -17 92 52 181 145 186 8
								1 31 -4 50 -9z m-1310 -573 c19 -12 43 -38 54 -57 20 -33 21 -51 21 -310 0
								-257 -1 -277 -20 -309 -33 -56 -68 -76 -133 -76 -67 0 -110 25 -136 80 -15 30
								-17 70 -14 317 3 274 4 284 25 314 46 64 141 83 203 41z"/>
								<path d="M2523 3655 c-319 -58 -603 -282 -723 -572 -60 -143 -73 -213 -74
								-383 0 -186 18 -269 94 -426 105 -217 285 -386 502 -473 145 -58 188 -66 373
								-66 147 0 180 3 249 23 338 98 596 358 688 693 20 73 23 106 22 254 0 155 -3
								178 -27 258 -97 314 -322 551 -622 654 -150 51 -332 65 -482 38z"/>
								</g>
								</svg>
							</div>

							<div id="moon">
								<?xml version="1.0" standalone="no"?>
							<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
							"http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
							<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
							width="540.000000pt" height="540.000000pt" viewBox="0 0 540.000000 540.000000"
							preserveAspectRatio="xMidYMid meet" style="background: white; width: 20px; height: 20px;">

							<g transform="translate(0.000000,540.000000) scale(0.100000,-0.100000)"
							fill="rgb(50, 50, 50)" stroke="none">
							<path d="M2712 4820 c-46 -28 -72 -76 -72 -131 0 -51 21 -89 97 -173 61 -69
							176 -242 227 -345 89 -177 150 -376 176 -578 18 -135 8 -440 -20 -568 -155
							-729 -713 -1269 -1445 -1401 -72 -13 -152 -18 -290 -18 -199 -1 -264 7 -440
							51 -111 28 -158 26 -203 -6 -56 -39 -79 -130 -48 -189 8 -15 52 -64 98 -109
							694 -683 1788 -785 2599 -242 133 89 226 168 350 297 533 553 714 1353 474
							2087 -41 124 -134 323 -202 435 -166 270 -420 524 -684 684 -103 62 -305 158
							-412 195 -103 36 -159 39 -205 11z m762 -709 c296 -288 475 -649 527 -1064 17
							-139 7 -402 -21 -541 -143 -720 -689 -1262 -1420 -1407 -96 -19 -148 -23 -315
							-24 -123 0 -229 5 -275 13 -182 32 -380 96 -527 170 l-58 30 90 6 c464 34 829
							169 1180 436 95 72 271 245 350 343 182 226 329 527 400 820 102 420 59 906
							-116 1310 -21 50 -39 92 -39 94 0 12 138 -104 224 -186z"/>
							</g>
							</svg>

							</div>
						</div>
					</div>
				</header>
		
				<section class="billbord">
					<div class="billbord__image">
						<img src="{% static 'main/img/billbord.jpg' %}" alt="alt">
					</div>
					<div class="billbord__content">
						<h1 class="billbord__title">{{ settings.title }}</h1>
						<h2 class="billbord__descr">Работа, халтура, объекты</h2>
						<button class="btn-main open-modal">Присоединиться</button>
					
						<div class="header__title">
							<div {% if settings.enable_running_line %}class="marquee"{% endif %}>
								<span>{{ settings.running_line }} </span>
								<span>{{ settings.running_line }} </span>
								<span>{{ settings.running_line }} </span>
							</div>
						</div>
					</div>
				</section>
			</div>

			<script>
				var client = "{{ client.id }}";
			</script>

			<div class="modals-wrap">
				{% for name, form in forms.items %}
					{% if name != "-cooperation" and name != "-callback" %}
					{% include "main/modal.html" with data=form %}
					{% endif %}
				{% endfor %}

				<div class="modal" id="modalrepeat">
					<div class="modal__content">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="title-share">{% if client.username %}{{ client.username }}, {% endif %}Вы уже отвечали на вопросы.
							Хотите переписать введённые данные?</div>
							<div style="display: flex; gap: 10px; justify-content: center;">
								<button style="width: 70px;" class="btn-page" onclick="submitRepeat()">Да</button>
								<button style="width: 70px;" class="btn-page" onclick="closeModal(event)">Нет</button>
							</div>
						</div>
					</div>
				</div>

				<div class="modal modal_form modal__callback" id="modal-callback" style="display: block;">
					<div class="modal__content" style="top: 3%">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="title-modal">Спасибо, мы получили ваши ответы !</div>
							<div class="descr-modal">Наш специалист свяжется с Вами для уточнения деталей</div>
							<form>
								<div class="item-form">
									<div class="item-form__title">Как к вам обращаться ?</div>
									<input type="text" placeholder="Ваше имя" name="name" class="input-name" required>
								</div>
								<div class="item-form">
									<div class="item-form__title">Как к с вами связаться ?</div>
									<div class="radios-socials">
										<div class="radio-social radio-social_call">
											<label>
												<input name="call" type="checkbox" checked>
												<span class="radio-social__content">
													<span class="radio-social__icon">
														<img src="{% static 'main/img/soc1.svg' %}" alt="alt">
													</span>
													<span class="radio-social__title">Звонок</span>
												</span>
											</label>
										</div>
										<div class="radio-social radio-social_wp">
											<label>
												<input name="whatsapp" type="checkbox">
												<span class="radio-social__content">
													<span class="radio-social__icon">
														<img src="{% static 'main/img/soc2.svg' %}" alt="alt">
													</span>
													<span class="radio-social__title">WhatsApp</span>
												</span>
											</label>
										</div>
										<div class="radio-social radio-social_tg">
											<label>
												<input name="tg" type="checkbox">
												<span class="radio-social__content">
													<span class="radio-social__icon">
														<img src="{% static 'main/img/soc3.svg' %}" alt="alt">
													</span>
													<span class="radio-social__title">Telegram</span>
												</span>
											</label>
										</div>
										<div class="radio-social radio-social_vk">
											<label>
												<input name="vk" type="checkbox">
												<span class="radio-social__content">
													<span class="radio-social__icon">
														<img src="{% static 'main/img/soc4.svg' %}" alt="alt">
													</span>
													<span class="radio-social__title">ВКонтакте</span>
												</span>
											</label>
										</div>
									</div>
								</div>
								<div class="item-form">
									<div class="item-form__title">Введите номер телефона</div>
									<input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="input-phone" required>
								</div>
								<button class="btn-main">Отправить</button>
								<div class="agree-form">Нажимая на кнопку, я соглашаюсь с условиями <a href="#">политики конфиденциальности</a></div>
							</form>
						</div>
					</div>
				</div>

				<div class="modal modal_success">
					<div class="modal__content">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="title-success">Ваша заявка отправлена !</div>
							<div class="icon-success">
								<img src="{% static 'main/img/success.svg' %}" alt="alt">
							</div>
						</div>
					</div>
				</div>

				<div class="modal">
					<div class="modal__content">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="icon-share">
								<img src="{% static 'main/img/share.png' %}" alt="alt">
								<img src="{% static 'main/img/share2.png' %}" alt="alt">
							</div>
							<div class="title-share"><span>Имя</span>, поделитесь этой ссылкой с коллегами!</div>
							<div class="share-unit">
								<div class="share-unit__value">{{ settings.window_w }}</div>
								<div class="share-unit__btn">
									<img src="{% static 'main/img/chain.svg' %}" alt="alt">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

				<div class="modal modal_form modal_main" id="modal-cooperation" style="display: block;">
					<div class="modal__content" style="top: 3%">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="title-modal">Спасибо за обращение!</div>
							<form>
								<div class="item-form">
									<input type="text" name="name" placeholder="Ваше имя" required>
								</div>
								<div class="item-form">
									<input type="text" name="organization_form2" placeholder="Организация" required>
								</div>
								<div class="item-form">
									<input type="email_form2" name="email_form2" placeholder="E-mail" required>
								</div>
								<div class="item-form">
									<input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="input-phone" required>
								</div>
								<div class="item-form">
									<textarea name="message_form2" placeholder="Сообщение"></textarea>
								</div>
								<button class="btn-main">Отправить</button>
								<div class="agree-form">Нажимая на кнопку, я соглашаюсь с условиями <a href="#">политики конфиденциальности</a></div>
							</form>
						</div>
					</div>
				</div>
			<div class="modal-overlay"></div>
		</div>
	</div>

	<footer class="footer">
		<a href="{{ settings.privacy_link }}" class="link-page">Политика конфиденциальности</a>
	</footer>

	<script src="{% static 'main/libs/mask/jquery.maskedinput.js' %}"></script>
	{% if messanger == "tg" %}
		<script src="https://telegram.org/js/telegram-web-app.js"></script>
		<script>
			const theme = window.Telegram.WebApp.colorScheme;

			if (theme === 'light') {
				document.body.classList.remove("theme-dark")
				document.getElementById('sun').style.display = 'none'
				document.getElementById('moon').style.display = 'block'
			} else if (theme === 'dark') {
				document.getElementById('sun').style.display = 'block'
				document.getElementById('moon').style.display = 'none'
				console.log('Пользователь использует тёмную тему');
			} else {
				console.log('Тема пользователя не определена');
			}
		</script>
	{% elif messanger == "vk" %}
	<script>
		client = window.location.hash.slice(1)
		console.log(client)
	</script>
	<script src="https://unpkg.com/@vkontakte/vk-bridge/dist/browser.min.js"></script>
  <script>
    vkBridge.send('VKWebAppInit', {})
    .then(() => {
        vkBridge.send('VKWebAppGetUserInfo', {})
            .then(data => {
                console.log(data)
            })
            .catch(error => console.error("VKWebAppGetUserInfo error:", error));
    });
  </script>
	{% endif %}
</body>
</html>