{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Заголовок</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="{% static 'main/css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
	<script src="{% static 'main/libs/jquery/jquery-3.6.0.min.js' %}"></script>
</head>
<body class="theme-dark">
	<div class="scale-wrapper">
		<div class="layout">
			<div class="wrapper">
				<header class="header"> 
					<div class="header__wrapper"> 
						<a href="/" class="logo">
							<img src="{% static 'main/img/logo.jpg' %}" alt="alt">
							<img src="{% static 'main/img/logo2.jpg' %}" alt="alt">
						</a>
					</div>
				</header>
		
				<section class="billbord">
					<div class="billbord__image">
						<img src="{% static 'main/img/billbord.jpg' %}" alt="alt">
					</div>
					<div class="billbord__content">
						<h1 class="billbord__title">{{ settings.title }}</h1>
						<h2 class="billbord__descr">Работа, халтура, объекты</h2>
						<button class="btn-main open-modal">Присоединиться</button>
						{% if settings.enable_running_line %}
							<div class="header__title">
								<div class="marquee"><span>{{ settings.running_line }}</span></div>
							</div>
						{% endif %}
					</div>
				</section>
			</div>

			<script>
				var client = "{{ client.id }}";
			</script>

			<div class="modals-wrap">
				{% for name, form in forms.items %}
					{% if name != "-cooperation" and name != "-callback" %}
					{% include "main/modal.html" with data=form %}
					{% endif %}
				{% endfor %}

				<div class="modal modal_form modal__callback" id="modal-callback">
					<div class="modal__content">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="title-modal">Спасибо, мы получили ваши ответы !</div>
							<div class="descr-modal">Наш специалист свяжется с Вами для уточнения деталей</div>
							<form>
								<div class="item-form">
									<div class="item-form__title">Как к вам обращаться ?</div>
									<input type="text" placeholder="Ваше имя" name="name" class="input-name" required>
								</div>
								<div class="item-form">
									<div class="item-form__title">Как к с вами связаться ?</div>
									<div class="radios-socials">
										<div class="radio-social radio-social_call">
											<label>
												<input name="call" type="checkbox" checked>
												<span class="radio-social__content">
													<span class="radio-social__icon">
														<img src="{% static 'main/img/soc1.svg' %}" alt="alt">
													</span>
													<span class="radio-social__title">Звонок</span>
												</span>
											</label>
										</div>
										<div class="radio-social radio-social_wp">
											<label>
												<input name="whatsapp" type="checkbox">
												<span class="radio-social__content">
													<span class="radio-social__icon">
														<img src="{% static 'main/img/soc2.svg' %}" alt="alt">
													</span>
													<span class="radio-social__title">WhatsApp</span>
												</span>
											</label>
										</div>
										<div class="radio-social radio-social_tg">
											<label>
												<input name="tg" type="checkbox">
												<span class="radio-social__content">
													<span class="radio-social__icon">
														<img src="{% static 'main/img/soc3.svg' %}" alt="alt">
													</span>
													<span class="radio-social__title">Telegram</span>
												</span>
											</label>
										</div>
										<div class="radio-social radio-social_vk">
											<label>
												<input name="vk" type="checkbox">
												<span class="radio-social__content">
													<span class="radio-social__icon">
														<img src="{% static 'main/img/soc4.svg' %}" alt="alt">
													</span>
													<span class="radio-social__title">ВКонтакте</span>
												</span>
											</label>
										</div>
									</div>
								</div>
								<div class="item-form">
									<div class="item-form__title">Введите номер телефона</div>
									<input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="input-phone" required>
								</div>
								<button class="btn-main">Отправить</button>
								<div class="agree-form">Нажимая на кнопку, я соглашаюсь с условиями <a href="#">политики конфиденциальности</a></div>
							</form>
						</div>
					</div>
				</div>

				<div class="modal modal_success">
					<div class="modal__content">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="title-success">Ваша заявка отправлена !</div>
							<div class="icon-success">
								<img src="{% static 'main/img/success.svg' %}" alt="alt">
							</div>
						</div>
					</div>
				</div>

				<div class="modal">
					<div class="modal__content">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="icon-share">
								<img src="{% static 'main/img/share.png' %}" alt="alt">
								<img src="{% static 'main/img/share2.png' %}" alt="alt">
							</div>
							<div class="title-share"><span>Имя</span>, поделитесь этой ссылкой с коллегами!</div>
							<div class="share-unit">
								<div class="share-unit__value">https://old.wordstat.yandex.ru/#!/?reg</div>
								<div class="share-unit__btn">
									<img src="{% static 'main/img/chain.svg' %}" alt="alt">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

				<div class="modal modal_form modal_main" id="modal-cooperation">
					<div class="modal__content">
						<div class="modal__close"></div>
						<div class="modal__inner">
							<div class="title-modal">Спасибо за обращение!</div>
							<form>
								<div class="item-form">
									<input type="text" name="name" placeholder="Ваше имя" required>
								</div>
								<div class="item-form">
									<input type="text" name="organization_form2" placeholder="Организация" required>
								</div>
								<div class="item-form">
									<input type="email_form2" name="email_form2" placeholder="E-mail" required>
								</div>
								<div class="item-form">
									<input type="tel" name="phone" placeholder="+7 (___) ___-__-__" class="input-phone" required>
								</div>
								<div class="item-form">
									<textarea name="message_form2" placeholder="Сообщение"></textarea>
								</div>
								<button class="btn-main">Отправить</button>
								<div class="agree-form">Нажимая на кнопку, я соглашаюсь с условиями <a href="#">политики конфиденциальности</a></div>
							</form>
						</div>
					</div>
				</div>
			<div class="modal-overlay"></div>
		</div>
	</div>

	<footer class="footer">
		<a href="{{ settings.privacy_link }}" class="link-page">Политика конфиденциальности</a>
	</footer>

	<script src="{% static 'main/libs/jquery/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'main/libs/mask/jquery.maskedinput.js' %}"></script>
	<script src="{% static 'main/js/sendAnswer.js' %}"></script>
	<script src="{% static 'main/js/common.js' %}"></script>
	<script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>