{% load static %}

<form
    class="modal" 
    {% if data.next %}data-modal="{{ data.next }}"{% endif %}
    data-field="{{ data.name }}"
    {% if data.type %}data-type="{{ data.type }}"{% endif %}
    id="modal{{data.name}}"
    data-maxsteps="{{ data.max_steps }}"
>
    <div class="modal__content">
        <div class="modal__close"></div>
        <div class="modal__inner">
            <div class="progressbar">
                <div class="progressbar__value"></div>
            </div>
            <div class="modal__title">{{ data.title }}</div>

            <div {% if data.options_count > 10 %}style="column-count: 2"{% endif %}>
                {% for option in data.options %}
                <div class="{{ data.type }}">
                    <label>
                        <input 
                        type="{{ data.type }}"
                        {% if option.value %}data-value="{{ option.value }}"{% endif %}
                        {% if option.field %}data-field="{{ option.field }}"{% endif %}
                        {% if data.type == "radio" %}data-value="{{ option.text }}"{% endif %}
                        {% if option.next %}data-modal="{{ option.next }}"
                        {% else %}
                        {% if data.next %}data-modal="{{ data.next }}"{% endif %}
                        {% endif %}
                        >
                        <span>{{ option.text }}</span>
                    </label>
                </div>
                {% endfor %}
            </div>

            {% if data.type == "text" %}
                <label>
                    <input type="{% if data.name == 'birth_year' %}number{% else %}text{% endif %}" class="text" placeholder="Введите другой вариант" />
                    <style>
                        .modal .text{
                        font-size: 13px;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: none;
                        margin: 0;
                        padding: 0;
                        border: none;
                        font-family: "Roboto";
                        background: #000;
                        color: #fff;
                        }
                    </style>
                </label>
            {% endif %}

            {% if data.another_field %}
            <div class="checkbox checkbox_another" style="margin-top: 10px;">
                <label>
                    <span class="{{ data.type }}__fake" {% if data.type == "radio" %}style="flex: none !important;"{% endif %}></span>
                    <span class="checkbox__click"></span>
                    <span>Другое <input type="text" class="another-input" data-field="{{ data.another_field }}" placeholder="Введите другой вариант"></span>
                </label>
            </div>
            {% endif %}

            {% if data.name == "birth_year" %}
            <script>
                const input = document.querySelector('#modalbirth_year').querySelector('input');

                const currentYear = new Date().getFullYear();
                const maxYear = currentYear - 13;
                const minYear = currentYear - 75;

                input.min = minYear;
                input.max = maxYear;

                input.addEventListener('change', () => {
                    const value = parseInt(input.value, 10);
                    
                    if (isNaN(value)) {
                        input.value = '';
                    return;
                    }

                    if (value < minYear) {
                        input.value = minYear;
                    } else if (value > maxYear) {
                        input.value = maxYear;
                    }

                    if (input.value){
                        showNextButton()
                    }
                    else{
                        hideNextButton()
                    }
                });

                input.addEventListener('input', () => {
                    const value = parseInt(input.value, 10);
                    console.log(value)
                   
                    if (value > minYear && value < maxYear) {
                        showNextButton()
                    } else if (value > maxYear) {
                        hideNextButton()
                    }
                });
            </script>
            {% endif %}
            <script>
                $('input:checkbox').on('change', function() {
                    var $currentModal = $(this).closest('.modal')
                    var checkedCount = $currentModal.find('input[type="checkbox"]').filter(':checked').length;
                    if (checkedCount > 0) {
                        showNextButton()
                    }
                    else{
                        hideNextButton()
                    }
                });
                $('.text:text').on('input', function (e) {
                    e.preventDefault();
                    textInput(e.target.value);
                })

                function showNextButton(){
                    $('.active').find('.next-modal').css('display', 'flex')
                }
                function hideNextButton(){
                    $('.active').find('.next-modal').css('display', 'none')
                }

                function textInput(value){
                    if (value){
                        showNextButton()
                    }
                    else{
                        hideNextButton()
                    }
                }
            </script>

            <div class="modal__buttons" {% if data.type == "radio" %} data-hide="true" style="display: none;"{% else %}data-hide="false"{% endif %}>
                <button class="btn-page btn-page_border prev-modal"><img src="{% static 'main/img/arrow.svg' %}" alt="alt"> Назад</button>
                <button {% if not data.show_next %} data-hide="true" style="display: none;"{% else %}data-hide="false"{% endif %} class="btn-page next-modal">Далее <img src="{% static 'main/img/arrow.svg' %}" alt="alt"></button>
            </div>
        </div>
    </div>
</form>
